*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background:#000000;
}
.New {

    background-image: url("image/3.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin:0;
        width: 100%;
        height: 170vh;
        margin-left: 60px;
}

nav{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-top: 30px;
    padding-left: 40px;
}
ul{
    list-style: none;
    display: flex;
}
ul li{
    margin: 0 20px;
}
ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: 0.3s;
}ul li a:hover{
    color: #0033ff;
}

.search-btn {
    display: block;
    align-items:left;
    margin-top: 30px;
    margin-left: 50px;
}

.search-btn input[type=text] {
    width: 350px;
    /* Large Right padding (40px) keeps text away from the icon */
    padding: 10px 10px 10px 35px;
    border: 1px solid #ccc;
    /* Slightly rounded rectangle */
    outline: none;
    font-size: 0.9rem;
    color: #ffffff;
    background: transparent ;
    background-image: url('image/icons8-search-49.png');
    background-size: 18px;
    background-repeat: no-repeat;
    /* Puts icon on the right side */
    background-position: left 10px center;
}
.placeholder{
color: #852929;    
}

.search-btn input[type=text]:focus {
    border-color: #333;
}
.hero-section{
    display:flex;
    margin:50px;
    color: #ffffff;
}

.movie-main{
    display: flex;
    flex-direction: column;
    font-family:'Times New Roman', Times, serif;
}

   .movie-main-item h1{
font-size:  5rem;
font-weight:600;
   }
   .movie-main-item h2{
    font-size: 2.7rem;
   }
   .movie-main-item p{
    margin-top: 20px;
    line-height:1.8;
   }
   .movie-main-item p span{
 margin-top:50px;
  }

  .movie-btn {
    display: flex;
    margin-top: 40px;
    gap:20px;
   }
   .movie-btn button{
    background-color:#00ADEF;
    padding: 15px 30px;
    border-radius: 20px;
    color:#fff;
   }
  .movie-btn .movie-btn-2 {
    background: transparent;
    border:#fff 1px solid; /* Removes the default border */
    outline: none;/* Removes the outline when the button is clicked/focused */
    cursor: pointer;
   }



   .main-movie-list{
    margin: 30px;
    justify-content:center;
   }
   .main-movie-list h2{
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
   }


   .movie-continer{
    display: flex;
    width:fit-content;
    background-color: gray;
    padding: 20px;
    border-radius: 20px;
    justify-content: center;
    gap:20px;
   }

   .movie-continer img{
    width:160px;
    height: 240px;
    border-radius: 20px;
   }
    
.active-movie {
    width:170px;
    height:485px;
}
.movie-continer .right-arrow img {
    width:120px;
}
