*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background:#000000;
    
}
nav{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}
ul{
    list-style: none;
    display: flex;
}
ul li{
    margin: 0 20px;
}
ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: 0.3s;
}ul li a:hover{
    color: #0033ff;
}

.search-btn {
    display: flex;
    align-items: center;
}

.search-btn input[type=text] {
    width: 250px;
    /* Large Right padding (40px) keeps text away from the icon */
    padding: 10px 10px 10px 10px;
    border: 1px solid #ccc;
    /* Slightly rounded rectangle */
    border-radius: 10px;
    outline: none;
    font-size: 0.9rem;
    color: #ffffff;
    background-color: #9c9797;
    background-image: url('image/icons8-search-49.png');
    background-size: 18px;
    background-repeat: no-repeat;
    /* Puts icon on the right side */
    background-position: left 10px center;
}
.placeholder{
color: #852929;    
}

.search-btn input[type=text]:focus {
    border-color: #333;
}
.container{
    display:flex;
    margin:50px;
    color: #ffffff;
}
.movie-list{
    display: flex;
    flex-direction: column;
}

   .movie-item h1{
font-size:  5rem;
font-weight:600;
   }
   .movie-item h2{
    font-size: 2.7rem;
   }
   .movie-item p{
    margin-top: 20px;
    line-height:1.8;
   }
   .movie-item p span{
 margin-top:50px;
  }

   .movie-btn {
    display: flex;
    margin-top: 40px;
   }